<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calculatorApacheⅡ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA3ED91D1F07A1840093B91B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA3ED9311F07A1840093B91B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA3ED93C1F07A1840093B91B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
